root = true

[*]
end_of_line = lf
charset = utf-8

[*.{c,h,cpp,hpp}]
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space

[*.{json}]
indent_style = tab
trim_trailing_whitespace = true