root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = false
trim_trailing_whitespace = true

[.{c,h,cpp,hpp}]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space

[.git*]
indent_style = space

[.gitmodules]
indent_style = tab

[*.{md,rst}]
trim_trailing_whitespace = false

[.{devcontainer,vscode}/**.json]
indent_style = tab
indent_size = 4

[.github/workflows/**.yml]
indent_style = space
indent_size = 2