*   text=auto

# Documents
*.md    text
*.rst   text

# Delimited data
*.csv   text
*.tab   text
*.tsv   text
*.txt   text
*.svg   text

# Scripts
*.sh    text eol=lf
*.cmd   text eol=crlf

# Serialisation
*.json  text
*.yml   text

# Archives
*.7z    binary
*.tar   binary
*.zip   binary

# Exclude files
.gitattributes  export-ignore
.gitignore      export-ignore
.gitkeep        export-ignore

*.patch -text

### C/C++ ###

# Sources
*.cpp   text diff=cpp
*.hpp   text diff=cpp

# Compiled Object files
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dll   binary

# Compiled Static libraries
*.lib   binary

# Executables
*.exe   binary
